www/admin/resources-xtd.txt
www/admin/resources.txt
www/admin/project_auth_entries.txt
www/admin/project_auth_entries.txt
www/admin/VMnow.txt
www/admin/.elinks
www/admin/*.csv
www/admin/*.xls
www/admin/server_reports
www/admin/agent_reports
www/admin/ploticus
www/osdial_auth_entries.txt
www/osdial_debug.txt
www/ivr
