	@font-face {
		font-family: 'dejavu sans';
		font-style: normal;
		font-weight: normal;
		src: local('dejavu sans'), url('DejaVuSans.ttf') format('truetype');
	}

	body {
		font-family: 'dejavu sans',verdana,sans-serif;
	}
	
	.header {
	}

	.container {
		width: 970px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 10px;
		text-align: center;
		
	}

	.container ab {
		text-decoration: none;
		font-style: oblique;
		color: navy;
	}

	.across-top {
		background-image: URL(images/top16.png);
		background-repeat:repeat-x;
		width: 970px;
	}

	.across-bottom {
		background-image: URL(images/top16.png);
		background-repeat:repeat-x;
		background-position:center;
		width: 970px;
		
	}

	.across {
		background-image: URL(images/across140.png);
		background-repeat:repeat-x;
		width: 970px;
		margin-left: auto; 
		margin-right: auto;	
	}

	.acrosslogin {
		background-image: URL(images/across150.png);
		background-repeat:repeat-x;
		width: 400px;
		margin-left: auto; 
		margin-right: auto;	
	}

	.centered {
		text-align: center;
	}

	.indents {
		margin-left: 5px;
	}

	.realtimeindents {
		margin-left: 50px;
	}

	.user-company {

	}

	#clock { 
		padding: 4px; 
	}

	a {
		color: #1C4754;
		text-decoration: none;
	}
	a:link {
		color: #1C4754;
		text-decoration: none;
	}

	a:active {
		color: #FFD000;
		text-decoration: underline;
	}
	a:hover {
		color: navy;
		text-decoration: underline;
	}
	a:visited {
		text-decoration: none;
	}

	.awhite a {
		color: white;
		text-decoration: none;
	}
	.awhite a:link {
		color: white;
		text-decoration: none;
	}

	.awhite a:active {
		color: white;
		text-decoration: underline;
	}
	.awhite a:hover {
		color: white;
		text-decoration: underline;
	}
	.awhite a:visited {
		color: white;
		text-decoration: none;
	}

	.no-ul a {
		text-decoration: none;
	}
	
	.no-ul-border a {
		border: thin solid black;
	}
	
	.narrow-space a {
		width: 10em;
	}

	.results {
		background-color: #E9E8D9;
	}

	.leftalign {
		text-align: left;
	}

	.footer {
	}
	.footer table {
		white-space: nowrap;
		font-size: 7pt;
	}
	.green {color: white; background-color: green;}
	.red {color: white; background-color: red;}
	.blue {color: white; background-color: blue;}
	.purple {color: white; background-color: purple;}

	.maintable {
		font-size: 9pt;
		font-family: 'dejavu sans',verdana,sans-serif;
		color: #000080;
	}
	.maintable table {
	}

	table.row:hover {background-color: #B4CCD6;}
	tr.row:hover {background-color: #B4CCD6;}
	td.hover:hover {background-color: #A4DCE6; font-weight:bold;}

	.tabheader a { text-transform: uppercase; color: #FFFFFF; text-decoration: none; }
	.tabheader a:link { text-transform: uppercase; color: #FFFFFF; text-decoration: none; } 
	.tabheader a:active { text-transform: uppercase; color: #FFFFFF; text-decoration: none; }
	.tabheader a:hover { text-transform: uppercase; color: #FFFFFF; text-decoration: none; }
	.tabheader a:visited { text-transform: uppercase; color: #FFFFFF; text-decoration: none; }
	.tabheader { text-align: center; text-transform: uppercase; color: #FFFFFF; font-family: 'dejavu sans',verdana,sans-serif; font-weight: bold; font-size: 8pt; background-color: #547e9e; }

	.tabfooter a { color: #FFFFFF; text-decoration: none; }
	.tabfooter a:link { color: #FFFFFF; text-decoration: none; } 
	.tabfooter a:active { color: #FFFFFF; text-decoration: none; }
	.tabfooter a:hover { color: #FFFFFF; text-decoration: none; }
	.tabfooter a:visited { color: #FFFFFF; text-decoration: none; }
	.tabfooter td { height: 8px; }
	.tabfooter { color: #FFFFFF; font-family: 'dejavu sans',verdana,sans-serif; font-weight: bold; font-size: 8pt; background-color: #547e9e; }

	.tabinput input { font-family: 'dejavu sans',verdana,sans-serif; font-size: 7pt; }
	.tabinput select { font-family: 'dejavu sans',verdana,sans-serif; font-size: 7pt; }
	.tabbutton1 input { text-transform:uppercase; font-family: 'dejavu sans',verdana,sans-serif; font-size: 7pt; width: 100%; }
	.tabbutton input { text-transform:uppercase; font-family: 'dejavu sans',verdana,sans-serif; font-size: 10pt; width: 100%; }

	.font1 { font-family: 'dejavu sans',verdana,sans-serif; font-size: 7pt; }
	.font2 { font-family: 'dejavu sans',verdana,sans-serif; font-size: 9pt; }
	.font3 { font-family: 'dejavu sans',verdana,sans-serif; font-size: 11pt; }
	.font4 { font-family: 'dejavu sans',verdana,sans-serif; font-size: 13pt; }
	.font5 { font-family: 'dejavu sans',verdana,sans-serif; font-size: 17pt; }
	.font6 { font-family: 'dejavu sans',verdana,sans-serif; font-size: 23pt; }
	.font7 { font-family: 'dejavu sans',verdana,sans-serif; font-size: 35pt; }

	.fgdefault { color: #000080; }
	.fgselect { color: navy; }
	.fgselect a:link { color: navy; }
	.fgselect a:active { color: navy; }
	.fgselect a:visited { color: navy; }
    .fgcompany { color: #1C4754; }
    .fgclock { color: white; }
    .fghome { color: white; }
    .fglogout { color: yellow; }
    .fgfooter { color: #A3C1C9; }
    .fgheader { color: #1C4754; }

	.fgred { color: red; }
	.fgnavy { color: navy; }
	.fgblack { color: black; }
	.fgwhite { color: white; }
	.bgmain { background-color: #c6cda3; }
	.bgsub { background-color: #a1b9a4; }



	.printable { display: inline; }
	.noprint { display: inline; }
	.onlyprint { display: none; }

	.menuH2color { color: #4A4D3D; }
	.menuH2color:hover { color: navy; }
