[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1
skip-name-resolve

# OSDial Defaults for InnoDB
default_storage_engine = InnoDB
loose_innodb_strict_mode = 1
loose_innodb_file_format = barracuda
loose_innodb_data_home_dir = /var/lib/mysql/
loose_innodb_log_group_home_dir = /var/lib/mysql/
loose_innodb_data_file_path = ibdata1:10M:autoextend
loose_innodb_additional_mem_pool_size =16M
loose_innodb_log_file_size = 5M
loose_innodb_log_buffer_size = 8M
loose_innodb_file_per_table = 1
loose_innodb_flush_log_at_trx_commit = 1
loose_innodb_lock_wait_timeout = 50
loose_innodb_adaptive_hash_index = 1
loose_innodb_checksums = 1
loose_innodb_doublewrite = 1
loose_innodb_flush_method = O_DIRECT
loose_innodb_locks_unsafe_for_binlog = 0
loose_innodb_max_dirty_pages_pct = 75
loose_innodb_table_locks = 1
loose_innodb_thread_concurrency = 0
loose_innodb_use_sys_malloc = 0
loose_innodb_fast_shutdown = 0
# Should be set to 50% system memory
loose_innodb_buffer_pool_size = 64M

max_connections=250

query_cache_limit = 1048576
query_cache_min_res_unit = 4096
query_cache_size = 100000000
query_cache_type = 1
query_cache_wlock_invalidate = 0
query_prealloc_size = 8192



[mysql.server]
user=mysql
basedir=/var/lib

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
